
{% load crispy_forms_tags %}

<script type="text/javascript">
  

// CONDITIONAL FORM VARS
var blocked_conditional_field = $("div.days");
var times_sun = $("div.sun");
var times_mon = $("div.mon");
var times_tue = $("div.tue");
var times_wed = $("div.wed");
var times_thu = $("div.thu");
var times_fri = $("div.fri");
var times_sat = $("div.sat");


blocked_conditional_field.hide();
times_sun.hide();
times_mon.hide();
times_tue.hide();
times_wed.hide();
times_thu.hide();
times_fri.hide();
times_sat.hide();

$("#id_rules-blocked").change(function() {
    if ($(this).prop('checked')) {
        blocked_conditional_field.show();
    } else {
        blocked_conditional_field.hide();
    }
});

$("#id_rules-sun").change(function() {
    if ($(this).prop('checked')) {
        times_sun.show();
    } else {
        times_sun.hide();
    }
});

$("#id_rules-mon").change(function() {
    if ($(this).prop('checked')) {
        times_mon.show();
    } else {
        times_mon.hide();
    }
});
$("#id_rules-tue").change(function() {
    if ($(this).prop('checked')) {
        times_tue.show();
    } else {
        times_tue.hide();
    }
});
$("#id_rules-wed").change(function() {
    if ($(this).prop('checked')) {
        times_wed.show();
    } else {
        times_wed.hide();
    }
});
$("#id_rules-thu").change(function() {
    if ($(this).prop('checked')) {
        times_thu.show();
    } else {
        times_thu.hide();
    }
});
$("#id_rules-fri").change(function() {
    if ($(this).prop('checked')) {
        times_fri.show();
    } else {
        times_fri.hide();
    }
});
$("#id_rules-sat").change(function() {
    if ($(this).prop('checked')) {
        times_sat.show();
    } else {
        times_sat.hide();
    }
});


</script>



<!-- MODAL FORM -->


<form class="well contact-form" method="post" action="{% url 'posts:update_rules' form.instance.pk %}">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Edit Number</h3>
  </div>
  <div class="modal-body">
       {% csrf_token %}
       
  <h4>Number:</h4>
  <br>
       {{form.bnum}}


  <br>          
  <h4>Block:<input type='checkbox' name='rules-blocked' class='checkboxinput' id='id_rules-blocked'></h4>
      
      
      <!-- {{form.blocked}} -->
     
<br>
<div class='days'>

      <p>
       Sun:
       {{form.sun}} |
       Mon:
       {{form.mon}} |
       Tues:
       {{form.tue}} |
       Wed:
       {{form.wed}} |
      </p>
      <p>
       Thurs:
       {{form.thurs}} |
       Fri:
       {{form.fri}} |
       Sat:
       {{form.sat}} |       
      </p>
</div>






<div class='sun'><h4>Sunday Times Blocked:</h4>{{form.sun_begin_time}}{{form.sun_end_time}}</div>
<div class="mon"><p>Monday Times Blocked:</p>{{form.mon_begin_time}}{{form.mon_end_time}}</div>
<div class="tue"><p>Tuesday Times Blocked:</p>{{form.tue_begin_time}}{{form.tue_end_time}}</div>
<div class="wed"><p>Wednesday Times Blocked:</p>{{form.wed_begin_time}}{{form.wed_end_time}}</div>
<div class="thu"><p>Thursday Times Blocked:</p>{{form.thu_begin_time}}{{form.thu_end_time}}</div>
<div class="fri"><p>Friday Times Blocked:</p>{{form.fri_begin_time}}{{form.fri_end_time}}</div>
<div class="sat"><p>Saturday Times Blocked:</p>{{form.sat_begin_time}}{{form.sat_end_time}}</div>







  </div>
    <div class="modal-footer">
       <input class="btn btn-primary" type="submit" value="Save" />
       
    </div>
</form>   



{% for obj in instance.sounds_set.all %}
  {% include 'sound_detail.html' with sound=obj %} 
{% endfor %}








