
{% load crispy_forms_tags %}



<!-- <div class= 'center_div'> -->
<!-- <div class='thumbnail text-center'> -->




<!-- MODAL FORM -->

<!-- {% crispy form %} -->
<form class="well contact-form" method="post" action="{% url 'posts:update_rules' form.instance.pk %}">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Edit Number</h3>
  </div>
  <div class="modal-body">
       {% csrf_token %}
       <!-- {{form.as_p}} --> 
       <p>Number:</p>
       {{form.bnum}}
      <p>
       Sun:
       {{form.sun}} |
       Mon:
       {{form.mon}} |
       Tues:
       {{form.tue}} |
       Wed:
       {{form.wed}} |
      </p>
      <p>
       Thurs:
       {{form.thurs}} |
       Fri:
       {{form.fri}} |
       Sat:
       {{form.sat}} |       
      </p>

      <p>
      Blocked:
      {{form.blocked}}
      </p>







  </div>
  <div class="modal-footer">
       <input class="btn btn-primary" type="submit" value="Save" />
       
  </div>
</form>   










<!-- <form method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}


  <input  id='bnum'  type= 'number' step='any' value='0' name='bnum' >
{{form.as_p}}


<input id= 'allow' class="btn btn-success" type= 'submit' style="font-size: 15px;" value="Add Incoming Number"/>
</form> -->

{% for obj in instance.sounds_set.all %}
  {% include 'sound_detail.html' with sound=obj %} 
{% endfor %}


<!-- </div> -->
<!-- </div> -->






