




			<ul>

				
				
					
					
						<div class='thumbnail'>
						
							<div class='caption'>

								<audio controls>
									<source src="{{obj.sound.url}}" type="audio/wav">
				  					<source src="{{obj.sound.url}}" type="audio/ogg">
				  					<source src="{{obj.sound.url}}" type="audio/mpeg">
				   					<source src="{{obj.sound.url}}" type="audio/mp4">
									Your browser does not support the audio element.
								</audio>
								<a href="/{{sound.id}}/delete/">Delete</a>

							</div>
							
						</div>
						
					
				<!-- <hr/ style='border-color: #92969b'> -->
				
				
				

			</ul>
				







