{% extends "header.html" %}
{% block content %}
{% load staticfiles %}
<script src="{% static 'js/howler.js/dist/howler.js' %}"></script>
<script src="{% static 'js/howler.js/dist/howler.min.js' %}"></script>
<script src="{% static 'js/howler.js/dist/howler.core.min.js' %}"></script>
<script src="{% static 'js/howler.js/dist/howler.spatial.min.js' %}"></script>


<script type="text/javascript">

				function play(){
					var play = sound.play();
					console.log(sound);
					}


				function create(src){
					var sound = new Howl({
						src:[src],
						volume: 0.5,

					});
					// howls.push(sound);
					// console.log(howls);
					var play = sound.play();
					console.log(sound);
					
					// var play = sound.play();
															
				}	


				</script>








<div class='col-sm-8 col-sm-offset-2'>
<p id= 'nope'></p>


<div class='thumbnail'>
<h3 class="text-center">My Phone Numbers</h3>
<p class="text-center"><a class="btn btn-success" style="color: #ffffff" href="/createnum">Add a Number</a></p>
</div>

<!--list wall objects-->
{% for obj in object_listboy %}	
	
	{% if request.user.username == obj.usersave%}

					<div class='row'>
					<div class='col-sm-12'>
					<div class='thumbnail'>
		<p style="font-size: 20px; color:#ffffff">Title:{{obj.title}}</p>
		<p style="font-size: 20px">Phone Number:<a href= '/{{obj.id}}/'>{{obj.number}}</a></p>
					</div>
					</div>
					</div>
		<!-- <a href="/{{obj.id}}/sound_detail/">Library</a> -->

	{% endif %}
{% endfor %}



<!-- DISPLAY SOUNDS -->

<h4>My Sound Library</h4>

{% for obj in instance %}
<ul>
		
	<div class='thumbnail'>
			
		<div class='caption'>



		<p style="color:#ffffff">{{obj.title}}</p>
			<a onclick="create('{{obj.sound.url}}')">Play</a>
			<!-- {{obj.unique_id}} -->




		</div>
	</div>
</ul>
{% endfor %}


</div>










{% endblock %}
