{% extends "header.html" %}
{% block content %}



<div class='col-sm-8 col-sm-offset-2'>
<p id= 'nope'></p>


<div class='thumbnail'>
<h3 class="text-center">My Phone Numbers</h3>
<p class="text-center"><a class="btn btn-success" style="color: #ffffff" href="/createnum">Add a Number</a></p>
</div>

<!--list wall objects-->
{% for obj in object_listboy %}	
	
	{% if request.user.username == obj.usersave%}

					<div class='row'>
					<div class='col-sm-12'>
					<div class='thumbnail'>
		<p style="font-size: 20px; color:#ffffff">Title:{{obj.title}}</p>
		<p style="font-size: 20px">Phone Number:<a href= '/{{obj.id}}/'>{{obj.number}}</a></p>
					</div>
					</div>
					</div>


	{% endif %}
{% endfor %}


</div>



{% endblock %}
